<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Raizen.SICCadastro.Rebate.SAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsConsultaDebitosSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sic-dev.raizen.com/servicos/ConsultaDebitos/wsConsultaDebitos.asmx" binding="basicHttpBinding" bindingConfiguration="wsConsultaDebitosSoap" contract="wsConsultarDebitos.wsConsultaDebitosSoap" name="wsConsultaDebitosSoap"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Raizen.SICCadastro.Rebate.SAL.Properties.Settings>
            <setting name="Raizen_SICCadastro_Rebate_SAL_UserSystem_wsUserSystem"
                serializeAs="String">
                <value>http://services-dev.cosan.com.br/UserSystemServices/wsUserSystem.asmx</value>
            </setting>
            <setting name="Raizen_SICCadastro_Rebate_SAL_wsCredito_Credito_OutService"
                serializeAs="String">
                <value>http://cpsvsappid01.cosan.rede:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SIC&amp;receiverParty=&amp;receiverService=&amp;interface=Credito_Out&amp;interfaceNamespace=urn%3Aminhati.com.br%2Fsicle%2Fcredito</value>
            </setting>
            <setting name="Raizen_SICCadastro_Rebate_SAL_wsAtualizaDocContabil_SIC_SyncOutAtualizaDocContabilService"
                serializeAs="String">
                <value>http://cpsvsappid01.cosan.rede:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SIC&amp;receiverParty=&amp;receiverService=&amp;interface=SIC_SyncOutAtualizaDocContabil&amp;interfaceNamespace=urn%3Asic.raizen.com%2Fxi%2Ffi</value>
            </setting>
        </Raizen.SICCadastro.Rebate.SAL.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
