################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.BLL/.vs
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.BLL/bin
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.BLL/bin/Debug/COSAN.Framework.DBUtil.dll
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.BLL/obj
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.DAL/.vs
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.DAL/bin
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.DAL/obj
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.Model/.vs
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.Model/bin
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.Model/bin/Debug/Raizen.SICCadastro.Rebate.Model.dll
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.Model/obj
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.SAL/.vs
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.SAL/bin
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.SAL/bin/Debug/Raizen.SICCadastro.Rebate.SAL.dll
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.SAL/obj
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.SAL/obj/Debug/TempPE/Service References.wsConsultarDebitos.Reference.cs.dll
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.Util/.vs
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.Util/bin
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.Util/Msg/MensagensNegocio.Designer.cs
/src/sic-rebate/Common/Raizen.SICCadastro.Rebate.Util/obj
/src/sic-rebate/Raizen.SICCadastro.Rebate.Api/.vs
/src/sic-rebate/Raizen.SICCadastro.Rebate.Api/bin
/src/sic-rebate/Raizen.SICCadastro.Rebate.Api/obj
/src/sic-rebate/Raizen.SICCadastro.Rebate.BLL.Test/.vs
/src/sic-rebate/Raizen.SICCadastro.Rebate.BLL.Test/bin/Debug
/src/sic-rebate/Raizen.SICCadastro.Rebate.BLL.Test/obj
/src/sic-rebate/Services/Raizen.SICCadastro.Rebate.Service/.vs
/src/sic-rebate/Services/Raizen.SICCadastro.Rebate.Service/obj/x86
/src/sic-rebate/WebSite/.vs/Raizen.SICCadastro.Rebate.WebSite
/src/sic-rebate/WebSite/packages
/src/sic-rebate/WebSite/Raizen.SICCadastro.Rebate.WebSite/.vs
/src/sic-rebate/WebSite/Raizen.SICCadastro.Rebate.WebSite/bin
/src/sic-rebate/WebSite/Raizen.SICCadastro.Rebate.WebSite/bin/ClosedXML.dll
/src/sic-rebate/WebSite/Raizen.SICCadastro.Rebate.WebSite/obj
/.vs
