<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<connectionStrings>
		<add name="SICCadastro" connectionString="Data Source=CPCLSSQL02\devqa,56001;Initial Catalog=SIC_Cadastro;User ID=appSIC_Cadastro;Password=appSIC_Cadastrodev" providerName="System.Data.SqlClient" />
		<!--<add name="APPSIC" connectionString="Password=yyb85x083x;Persist Security Info=True;User ID=MANUT_RAIZEN;Data Source=APPSIC" providerName="System.Data.OracleClient"/>-->
		<add name="APPSIC" providerName="System.Data.OracleClient" connectionString="Password=HxS8RHVJd88D942tXt;Persist Security Info=True;User ID=appSICOpenshift;Data Source=rzoxcc0104vm01.br1.ocm.s7067842.oraclecloudatcustomer.com/DEV11" />
	</connectionStrings>
	<appSettings>
		<add key="DefaultCulture" value="pt-BR" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="DiretorioArquivos" value="C:\temp\ArquivosTeste" />
		<add key="TesteSistema" value="false" />
		<add key="QtdMesesRetroativo" value="1" />
		<add key="URL_SAP_DEBITO" value="http://sappi-p1d.raizen.com:50200/XISOAPAdapter/MessageServlet?senderService=SIC&;receiverParty=&amp;receiverService=&amp;interface=SIC_SyncOutAtualizaDocContabil&amp;interfaceNamespace=urn:sic.raizen.com%2Fxi%2Ffi" />
		<add key="URL_SAP_CREDITO" value="http://sappi-p1d.raizen.com:50200/XISOAPAdapter/MessageServlet?senderService=SIC&;receiverParty=&amp;receiverService=&amp;interface=Credito_Out&amp;interfaceNamespace=urn:minhati.com.br%2Fsicle%2Fcredito" />
		<add key="USUARIO_SAP" value="WSCSIC" />
		<add key="SENHA_SAP" value="projeto1@" />
	</appSettings>
	<loggingConfiguration name="Logging" tracingEnabled="false" defaultCategory="Infos" logWarningsWhenNoCategoriesMatch="false">
		<listeners>
			<add fileName="Logger.log" header="" formatter="LogFormatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Debug File Destination" />
		</listeners>
		<formatters>
			<add template="{newline}{timestamp} - {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="LogFormatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="Debug">
				<listeners>
					<add name="Debug File Destination" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Debug File Destination" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="wsConsultaDebitosSoap" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://sic-dev.raizen.com/servicos/ConsultaDebitos/wsConsultaDebitos.asmx" binding="basicHttpBinding" bindingConfiguration="wsConsultaDebitosSoap" contract="wsConsultarDebitos.wsConsultaDebitosSoap" name="wsConsultaDebitosSoap" />
		</client>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
