<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<appSettings>
		<add key="WebServiceUserSystem" value="http://usersystem-dev.minhati.com.br/UserSystemServices/wsUserSystem.asmx" />
		<add key="ExpiracaoCookie" value="300" />
		<add key="aspnet:MaxHttpCollectionKeys" value="500000" />
		<add key="TesteSistema" value="false" />
		<add key="QtdMesesRetroativo" value="0" />
		<add key="URL_SAP_DEBITO" value="http://sappi-p1d.raizen.com:50200/XISOAPAdapter/MessageServlet?senderService=SIC&;receiverParty=&amp;receiverService=&amp;interface=SIC_SyncOutAtualizaDocContabil&amp;interfaceNamespace=urn:sic.raizen.com%2Fxi%2Ffi" />
		<add key="URL_SAP_CREDITO" value="http://sappi-p1d.raizen.com:50200/XISOAPAdapter/MessageServlet?senderService=SIC&;receiverParty=&amp;receiverService=&amp;interface=Credito_Out&amp;interfaceNamespace=urn:minhati.com.br%2Fsicle%2Fcredito" />
		<add key="USUARIO_SAP" value="WSCSIC" />
		<add key="SENHA_SAP" value="projeto1@" />
	</appSettings>
	<loggingConfiguration name="Logging" tracingEnabled="false" defaultCategory="Infos" logWarningsWhenNoCategoriesMatch="false">
		<listeners>
			<add fileName="Logger.log" header="" formatter="LogFormatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Debug File Destination" />
		</listeners>
		<formatters>
			<add template="{newline}{timestamp} - {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="LogFormatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="Debug">
				<listeners>
					<add name="Debug File Destination" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Debug File Destination" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<connectionStrings>
		<add name="SICCadastro" connectionString="Data Source=CPCLSSQL02.cosan.rede\devqa, 56001;Initial Catalog=SIC_Cadastro;User ID=appSIC_Cadastro;Password=appSIC_Cadastrodev" providerName="System.Data.SqlClient" />
		<!--<add name="SICCadastro" connectionString="Data Source=CPCLSSQL03\QAS,57349;Initial Catalog=SIC_Cadastro;User ID=appSIC_CadastroSel;Password=appSIC_CadastroSel" providerName="System.Data.SqlClient"/>-->
    <add name="APPSIC" providerName="System.Data.OracleClient" connectionString="Data Source=(DESCRIPTION= (CONNECT_TIMEOUT=5)(TRANSPORT_CONNECT_TIMEOUT=3)(RETRY_COUNT=3) (ADDRESS_LIST=(LOAD_BALANCE=on) (ADDRESS=(PROTOCOL=TCP)(HOST=rzvlxaplegd01.cosan.rede)(PORT=1555))) (CONNECT_DATA=(SERVICE_NAME=DEV11)));User Id=appSICOpenshift;Password=HxS8RHVJd88D942tXt;" />
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
	<system.web>
		<globalization culture="pt-BR" uiCulture="pt-BR" />
		<customErrors mode="Off" defaultRedirect="Erro.aspx" redirectMode="ResponseRewrite" />
		<compilation debug="true" targetFramework="4.6.1" />
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" timeout="525600" requireSSL="true" />
		</authentication>
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="wsConsultaDebitosSoap" maxBufferSize="9965536" maxReceivedMessageSize="9965536">
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://sic-dev.raizen.com/servicos/ConsultaDebitos/wsConsultaDebitos.asmx" binding="basicHttpBinding" bindingConfiguration="wsConsultaDebitosSoap" contract="wsConsultarDebitos.wsConsultaDebitosSoap" name="wsConsultaDebitosSoap" />
		</client>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>